<h3>Új recept beküldése</h3>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Név</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Hozzávaló</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Elkészítés</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<button mat-raised-button color="primary">Beküld</button>
