<mat-card class="recipe-card" *ngIf="recipe">
  <mat-card-header>
    <mat-card-title>{{ recipe?.Name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://via.placeholder.com/400"
    alt="Photo of a Süti"
  />
  <!-- TODO: Rendesen a képeket-->
  <mat-card-content>
    <p class="prep">Összetevők</p>

    <ul>
      <li *ngFor="let ingredient of recipe?.Ingredients">
        {{ ingredient.Name }}, {{ ingredient.Quantity }} {{ ingredient.Unit }}
      </li>
    </ul>
    <p class="prep">Elkészítés</p>
    <p>
      {{ recipe?.Preparation }}
    </p>
  </mat-card-content>
</mat-card>
